[user]
	name = Sym Roe
	email = sym.roe@talusdesign.co.uk
[core]
	editor = mate -wl1
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
	ui = true
[branch]
	autosetuprebase = always
[alias]
        log-json = log --pretty=format:'\"%h\": {%n  \"commit\": \"%H\",%n  \"author\": \"%an <%ae>\",%n  \"date\": \"%ad\",%n  \"message\": \"%s\"%n}'
        log-hashes = log --pretty=format:'%H'
	log-nice = log --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%d%Creset %s %C(green)(%cn, %cr)%Creset'
	story = flow feature start
[push]
	default = matching
